@import "catppuccin.css";

.smalto-keyword {
    color: var(--ctp-mocha-mauve);
}
.smalto-string {
    color: var(--ctp-mocha-green);
}
.smalto-number {
    color: var(--ctp-mocha-peach);
}
.smalto-comment {
    color: var(--ctp-mocha-overlay0);
    font-style: italic;
}
.smalto-function {
    color: var(--ctp-mocha-blue);
}
.smalto-operator {
    color: var(--ctp-mocha-sky);
}
.smalto-punctuation {
    color: var(--ctp-mocha-text);
}
.smalto-type {
    color: var(--ctp-mocha-yellow);
}
.smalto-module {
    color: var(--ctp-mocha-yellow);
}
.smalto-variable {
    color: var(--ctp-mocha-text);
}
.smalto-constant {
    color: var(--ctp-mocha-peach);
}
.smalto-builtin {
    color: var(--ctp-mocha-red);
}
.smalto-tag {
    color: var(--ctp-mocha-red);
}
.smalto-attribute {
    color: var(--ctp-mocha-yellow);
}
.smalto-selector {
    color: var(--ctp-mocha-green);
}
.smalto-property {
    color: var(--ctp-mocha-blue);
}
.smalto-regex {
    color: var(--ctp-mocha-pink);
}
