{{ define "main" }}
<section id="first">
    <article class="infos">{{ .Content }}</article>
    <pre class="background" contenteditable="true">
        *              *           * .. . *              *           *
./  *         . *  /\           *   ./\/\.   .      *       .\
 \.     *    /:\  /^ \   /\         /  \ \  / \*       /\  / :\ *
./          /   \/  ^ \ /  \  *    /    ` \/   \/\ *  /  \/;   \
 \  *      /  ^  \ ^   / ^  \   /\/  +       .    \  /  : \  .  \
 ||,      /  .    \  `  /`\ ^\ /  \      .         \/  .   \     \
 |/ \    /  ,,     \  .     ------            .     \       \     \
 /___\  /  .  ,     \        |  |                    \
 |D D| /             \       |  |                     \
 |_U_|/                      |  |              
 \\\\\\
    </pre>
</section>

{{ end }}
