{{ define "main" }}
<section id="home">
    <article class="infos">{{ .Content }}</article>
    <pre class="background" contenteditable="false">
 *        *       '       .       .  "    .      +  *      +        .     +         
     .                                                    *      *             *    
             *    +      *       *       *                         °                
  *    `                                      .                               ,     
                   .        .          °                      *                     
     .                                               `             *                
             °                      .         ,              °           ,          
        *             *                                                             
                                                                                    
             °                ,        +           *              .             .   
                                                                                    
     *                              .                        °                      
                   +                                    ,             °             
            *                              *                                 *      
                        *                                                           
                                                   .             .       *          
                                                        ,             °             
             *           *       *       *                         °                
             °                ,                    *              .             .   
</pre>
</section>
{{ end }}
