name: test

on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "28"
          gleam-version: "1.14.0"
          elixir-version: "1.19.5"
          rebar3-version: "3"
      - run: gleam deps download
      - run: wget 'https://github.com/ollema/glimra/releases/download/v2.0.1/libglimra-linux-x86_64.so' -P ./build/packages/glimra/priv/lib
      - run: gleam test
      - run: gleam format --check src test
